img.header-img {
  z-index: -1;
  margin-top: -4rem;
  background-size: cover;
}
div.nabar {
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  margin-top: 3rem !important;
  border-radius: 2rem;
  height: 4.5rem;
  box-shadow: 1px 1px 15px rgba(34, 32, 30, 0.4),
    -1px -1px 15px rgb(38, 36, 34, 0.4);
    padding-left: 1rem;
}
.navbar-center-content {
  display: flex;
  flex-direction: row;
}

.navbar-center-content li {
  margin: 0.2rem;
}
.navbar-left {
  font-family: "Italianno", cursive;
  font-weight: bold;
}
.navbar-center-content li {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 2rem;
}
.active-item {
  border-bottom: 3px solid var(--dark-brown);
  padding-bottom: 0.3rem;
}
