.header-img {
  z-index: -1;
  margin-top: -4rem;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 770px;
}
div.nabar {
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  background-color: rgba(179, 170, 163, 0.1);
  backdrop-filter: blur(8px);
  height: 4.5rem;
  box-shadow: 1px 1px 15px rgba(34, 32, 30, 0.4),
    -1px -1px 15px rgb(38, 36, 34, 0.4);
  transition: all 0.2s ease-in-out;
}
.navbar-after-scroll {
  border-radius: 1.1rem;
  margin-top: 2rem !important;
}
.navbar-befor-scroll {
  margin-top: 0rem !important;
  border-radius: 0;
}
.navbar-center-content {
  display: flex;
  flex-direction: row;
}

.navbar-center-content li {
  margin: 0.2rem;
}
.navbar-left {
  font-family: "Italianno", cursive;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 770px) {
  .menu-section {
    font-size: 2.3rem;
    padding-left: 2rem;
  }
  .menu-icone {
    margin-top: 0.8rem;
  }
}
.navbar-center-content li {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 2rem;
}
.active-item {
  border-bottom: 3px solid var(--dark-brown);
  padding-bottom: 0.3rem;
}
.menu-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mask {
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.open-menu {
  z-index: 999;
  padding: 0%;
  position: absolute;
  position: fixed;
  right: 0%;
  top: 0%;
  background-color: var(--dark-brown);
  color: var(--white);
  height: 100vh;
  box-shadow: 1px 1px 15px rgba(34, 32, 30, 0.4),
    -1px -1px 15px rgb(38, 36, 34, 0.4);
  transition: all 0.2s ease-in-out;
}

.open-menu ul {
  padding: 0%;
  margin-top: 2.65rem;
  text-align: center;
}
.open-menu li {
  padding: 1rem 0 1rem 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.open-menu li:hover {
  background-color: rgba(179, 170, 163, 0.1);
}
.open-menu ul :first-child {
  font-weight: 1000;
}
.icone-open-menu{
  margin-top: 1.3rem;
  position: absolute;
  right: 3rem;
  font-size: 1.7rem;
}